<footer class="site-footer h-card container-appbieger-footer1""> 


  
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
         <b>AppBieger Stephan Tomforde, Reith 27, 21698 Brest</b>
        <br>
        Tel: (04762) 183107
    </div>
  </div>
</div>
 
</div>
  
</footer>
<footer class="site-footer h-card container-appbieger-footer2">
 

 
<div class="wrapper ">
  <div class="footer-col-wrapper">
    <div class="footer-col"> 

        {% for menue in site.data.footerMeue %}

        <div class="container-appbieger-footer2-div">
            <a class="container-appbieger-footer2-link" href="{{ menue.link }}">
              {{ menue.name }}
            </a>
          </div>
        {% endfor %}
       <br>
        AppBieger 
       

     
  </div>
</div>
</div>
  
</footer>

