 
 
<div class="appbieger-header-logo-background"> 
  <br><br><br><br>
  <div class="d-flex flex-column"> 
    <div class="d-flex justify-content-center"><img src="/assets/img/appbiegerlogo.png" class="rounded  " alt="Responsive image" style=" max-width: auto; height: 100px;">
    </div>
    
    
  </div>
    
 <div class="appbieger-header-schraege"></div>
</div>
  <!-- <img src="/assets/img/desktopBackground.jpg" class="img-fluid" alt="Responsive image" style=" max-width: 100%; height: auto;"> -->
 
 

 